{% extends 'home/index.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-6" style = "min-height:500px;">
                <div style = "margin:40px;border:2px solid #5161ce;height:100%;border-radius:9px">
                </div>
            </div>
            <div class = "col-lg-6" style = "min-height:500px;">
                <div style = "margin:40px;border:2px solid #5161ce;height:100%;border-radius:9px">
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class = "container" style = "padding-top:100px;">
        <div class = "row">
            <div class="col-lg-6 card-container">
              <div class="card card--dark"><a href = "{% url 'student_register' %}">
                  <div class="card--display"><i class="material-icons">supervised_user_circle</i>
                    <h2>For Researchers and Students</h2>
                  </div>
                  <div class="card--hover">
                    <h2>For Researchers and Students</h2>
                    <p>Follow this path to Sign Up as an academic researcher! Signing up as an academic researcher gives you the option to
                    publish research papers and participate in dicussions</p>
                    <p class="link">Go</p>
                  </div></a>
                <div class="card--border"></div>
              </div>
            </div>
            <div class="col-lg-6 card-container">
              <div class="card card--dark"><a href = "{% url 'corporate_register' %}">
                  <div class="card--display"><i class="material-icons">supervisor_account</i>
                    <h2>For Companies</h2>
                  </div>
                  <div class="card--hover">
                    <h2>For Companies</h2>
                    <p>Follow this path if you wish to sign up as a corporate entity. You don't have access to publish papers,
                     but can collaborate with researchers and  participate in their discussions!</p>
                    <p class="link">Go</p>
                  </div></a>
                <div class="card--border"></div>
              </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}
