{% extends 'home/index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="{{user_profile.profile_picture.url}}"></img>
                                {% comment %} Place to display Image {% endcomment %}
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{ user_profile.user.first_name}}&nbsp&nbsp{{ user_profile.user.last_name}}</h2>
                                <h6 class="d-block">User Rating: {{user_profile.rating}}</h6>
                                {% comment %} <h6 class="d-block">Place for adding total papers</h6> {% endcomment %}
                                <h6 class="d-block">
                                    <form method='POST' enctype='multipart/form-data'>
                                        <ul>
                                		{% csrf_token %}
                                		</ul>
                                		{% if pass_follow %}
                                        <button type = "submit">Follow</button>
                                        {% else %}
                                        <button type = "submit">Unfollow</button>
                                        {% endif %}
                                	</form>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" href="{% url 'user-profile' user_profile.user.username %}">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="feed-tab" href="{% url 'user-feed' user_profile.user.username %}">Feed</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">User Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{searched.username}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Institution</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{user_profile.institution}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email Address</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {% if user_profile.institute_email|length > 0 %}
                                                {{user_profile.institute_email}}
                                        </div>
                                    </div>
                                    <hr />
                                            {% else %}
                                                {{user_profile.email}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Role</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{user_profile.role}}
                                        </div>
                                    </div>
                                    <hr />
                                    {% endif %}
                                    {%if searched.username == user.username%}
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Authors Followed</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <ul class="unordered_list">
                                            {% for author in user_profile.authors_followed.all %}
                                                <li>{{ author }}</li>
                                                {% empty %}
                                                    None
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
